<h2 class="mt-5">
  Welcome, Todo App create by Ashi
</h2>
<div class="mt-5 ml-5">
  <div>↓↓ ユーザ作成済み, 作成予定の方はこちら</div>
  <%= button_to 'ユーザログイン', "/login", method: :get, class: "btn btn-outline-primary" %>
</div>
<div class="mt-5 ml-5">
  <div>↓↓ 登録なしで早く使いたい方はこちら</div>
  <%= button_to 'Guestとしてログイン', "/login/guest", method: :get, class: "btn btn-outline-secondary" %>
</div>
