<li>
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    <span><%= link_to micropost.title %></span>
    <span><%= link_to micropost.content %></span>
    
  </label>
</li>