<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Todo</button>
  <button type="button" class="btn btn-secondary">Complete</button>
  <button type="button" class="btn btn-secondary">Deleted</button>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Complete Task A
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Complete Task B
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
     Complete Task C
  </label>
</div>

<footer>
  ©️ Hiroaki Ashizawa
</footer>