<div class="form-check my-sm-3">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 1
  </label>
</div>

<div class="form-check my-sm-3">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 2
  </label>
</div>

<div class="form-check my-sm-3">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 3
  </label>
</div>

<form action="">
  <input class="form-control" type="text" placeholder="Task name">
  <input class="form-control" type="text" placeholder="Content">
</form>

<%= render 'form', task: @task %>

<button href="/tasks" type="button" class="btn btn-lg btn-primary" disabled>Create Task</button>
<a href="/tasks" class="text-reset text-muted">cancel</a>