<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Todo</button>
  <button type="button" class="btn btn-secondary">Complete</button>
  <button type="button" class="btn btn-secondary">Deleted</button>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 1
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 2
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Task 3
  </label>
</div>

<p>
  <a href="#" class="text-reset text-muted">+ Add Task</a>
</p>

<footer>
  ©️ Hiroaki Ashizawa
</footer>