<h1>Greeting</h1>
<%= form_for(url_for(:action => 'index'), :remote => true, :id => "result_form") do %>
  <%= text_field_tag :greeting %>
  <%= submit_tag "Show!" %>
<% end %>
<div id="result"></div>
