<table class="table">
  <thead>
    <tr>
      <td><h3>Task Detail</h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title</td>
      <td>Content</td>
    </tr>
    <tr>
      <td><%= @task.title %></td>
      <td><%= @task.content %></td>
    </tr>
  </tbody>
</table>




