 <nav>
  <div class="sidebar-header">
    <h3>Admin Menu</h3>
  </div>
  <ul class="list-unstyled components">
    <p>Dummy Heading</p>
    <div>
      <%= link_to "Tasks", admin_tasks_path, method: :get %>
    </div>
    <div>
      <%= link_to "Users", admin_users_path, method: :get %>
    </div>
  </ul>
</nav>