<div class="card mt-5">
  <div class="card-header">
    <h3>週次タスク一覧</h3>
  </div>
  <!--<div id="graf_select">
    <%= button_to 'クリック', admin_graf_select_path, method: :get, remote: true %>
  </div>-->
  <%= line_chart @tasks.group_by_day_of_week(:created_at, format: "%a").count %>
  <%= pie_chart @tasks.group_by_day_of_week(:created_at, format: "%a").count %>
</div>