<h3 class="mt-5">Latest Update</h3>
<table class="table">
  <tr>
    <td>Title</td>
    <td>Updated</td>
    <td>Owner</td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.updated_at %></td>
      <td><%= owner(task)%></td>
    </tr>
  <% end %>
</table>
<h3 class="mt-5">Weekly Create Task Graf</h3>
<%= line_chart @graf.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Day", ytitle: "Count", suffix: "t", messages: {empty: "No data"}  %>