<h1>All Users List</h1>

<ul class="mt-5">
  <% @users.each do |user| %>
    <div class="card mb-3">
      <li>
        <div class="card-title">
          <%= link_to user.name, edit_user_path(user), class: "text-info"%>
        </div>
        <div>
          Email: 
          <%= user.email %>
        </div>
        <div>
          Admin:
          <%= user.admin %>      
        </div>
      </li>
    </div>
  <% end %>
</ul>