<%= link_to "New Project", new_project_path %>

<table class="table">
  <tbody>
    <tr>
      <td>Project Name</td>
    </tr>
    <% @projects.each do |p| %>
      <tr>
        <td><%= p.project_name %></td>
        <td><%= link_to "edit", edit_project_path(p), method: :get %></td>
        <td><%= link_to "delete", project_path(p), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>